---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const principlesEntries = await getCollection('principles');
  return principlesEntries
    .filter((entry) => entry.data.lang === 'en')
    .map((entry) => ({
      params: { slug: entry.slug },
      props: { entry }
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

---


<Layout title={`DSI - ${entry.data.title}`} locale={entry.data.lang} img={entry.data.img}>
  <div class="bg-blu py-2 px-3 text-4xl text-white">{entry.data.lang === "it" ? "Principio" : "Principle"} </div>
  <div>
    <h1 class="p-3 my-4 uppercase text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light ">{entry.data.title}</h1>
    <div class="relative w-full group">

      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe 
        src={`${entry.data.video}&autoplay=1&loop=1`} 
          frameborder="0" 
          allow="autoplay; clipboard-write" 
          style="position:absolute;top:0;left:0;width:100%;height:100%;"
          title="DSI video">
        </iframe>
      </div>
      <script src="https://player.vimeo.com/api/player.js"></script>

    </div>
    <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl text-blu p-3">{entry.data.subtitle}</h2>
    <div class="mb:6 lg:mb-24 p-3 text-base sm:text-base md:text-lg lg:text-base xl:text-xl font-NM-Book">
      <Content />
    </div>
  </div>

</Layout>

<style is:global>
  p {
    @apply py-1 sm:py-2 md:py-3 lg:py-2 xl:py-4;
  }

  p span {
    @apply py-1 sm:py-2 md:py-3 lg:py-2 xl:py-4 font-NM-Medium;
  }

  #activePrinciples{
    @apply text-blu;
  }
</style>

<script is:inline>
  function toggleMute() {
    const video = document.getElementById("video");
    const muteButton = document.getElementById("muteButton");
    
    if (video.muted) {
      video.muted = false;
      muteButton.innerText = "Mute";
    } else {
      video.muted = true;
      muteButton.innerText = "Audio";
    }
  }
</script>