---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';
import { Image } from "astro:assets";
import { getEntries } from 'astro:content';

export async function getStaticPaths() {
  const projectsEntries = await getCollection('projects');
  return projectsEntries
    .filter((entry) => entry.data.lang === 'en')
    .map((entry) => ({
      params: { slug: entry.slug },
      props: { entry }
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const relatedPosts = await getEntries(entry.data.principlesPosts);
---

<Layout title={`DSI - ${entry.data.title}`} locale={entry.data.lang} description={entry.data.subtitle} img={entry.data.cover?.src}>
  <div class="bg-blu px-3 py-2 text-4xl text-white">{entry.data.lang === "it" ? "Progetto" : "Project"}</div>
  <h1 class="p-3 my-4 text-5xl sm:text-6xl md:text-7xl lg:text-6xl xl:text-5xl text-blu font-light">{entry.data.title}</h1>

  {entry.data.cover && (
    <Image
      src={entry.data.cover}
      alt={entry.data.title || 'Project Cover'}
      width="1000"
      class="w-full"
    />
  )}
  
  <h2 class="text-2xl sm:text-3xl md:text-4xl lg:text-3xl xl:text-4xl text-blu p-3">{entry.data.subtitle}</h2>
  <div class="px-3 py-3 lg:py-6 text-base sm:text-base md:text-lg lg:text-base xl:text-xl font-NM-Book">
    <Content />
  </div>
  <div class="px-3 py-6 lg:py-12 text-sm sm:text-sm md:text-base lg:text-sm xl:text-lg space-y-4 text-balance lg:mb-24 border-t border-black">
    {entry.data.partners && (
      <div class="pr-3">
        <span class="block font-NM-Book">Partners</span>{entry.data.partners}
      </div>
    )}
    {entry.data.design && (
      <div class="pr-3">
        <span class="block font-NM-Book">Design</span>{entry.data.design}
      </div>
    )}
    {entry.data.principals && (
      <div class="pr-3">
        <span class="block font-NM-Book">Principals</span>{entry.data.principals}
      </div>
    )}
    {entry.data.team && (
      <div class="pr-3">
        <span class="block font-NM-Book">Team</span>{entry.data.team}
      </div>
    )}
    <div class="pr-3">
      <span class="block font-NM-Book">Principi</span>
      <div class="flex flex-wrap whitespace-normal gap-x-2 ">
        {relatedPosts.map(
          (post) =>
            post && (
              <div>
                <a
                  href={`/principles/${post.slug}`}
                  class="hover:text-blu transition-all whitespace-nowrap"
                >
                  {post.data.title}
                </a> /
              </div>
            )
        )}
      </div>
    </div>
    <div class="pr-3">
      <span class="block font-NM-Book">Tipologia</span>{entry.data.type}
    </div>
  </div>
</Layout>

<style is:global>
  p {
    @apply py-1 sm:py-2 md:py-3 lg:py-2 xl:py-4;
  }
  p span {
    @apply py-1 sm:py-2 md:py-3 lg:py-2 xl:py-4 font-NM-Medium;
  }
  #activeProjects{
    @apply text-blu;
  }
</style>
